        @extends ('layouts.nav')

        @section ('title')
            Stage
        @endsection

        @section ('Content')
         <!-- page content -->
        
    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- Parsley -->
    <script src="../vendors/parsleyjs/dist/parsley.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>
    <script>
      /*$(document).ready(function(){
        var intStageLatest = 0; //Higest stage na meron yung process na to.

        $('#formAddStage').submit(function() {
          var intStageInput = $("#txtStageNum").val();

          if(intStageInput > intStageLatest + 1) {
              window.alert("Stage number should not be greater than " + (intStageLatest + 1) + ".");
              return false;
          }
          else{
              form.submit();
          }
        });
      });*/
    </script>
  </body>
@endsection

